*{
  margin:0;
  padding:0;
  max-width: 100%;

}


.center {
  text-align: center;
  margin: auto;
}

.nav p {
  padding:2rem 20rem 1rem 5rem;
}
.nav ul {
  margin-right:4rem;
  margin-bottom: 12rem;
 }

.nav ul li{
  float:right;
  list-style:none;
  position:relative;
  padding-top:80px;
}

.nav ul li a{
  padding: 24px 14px;
  display:inline-block;
}

.nav ul li ul{
  display:none;
  position:absolute;
}

.nav ul li:hover ul{
  display:block;
  position:relative;
  
}

.nav ul li ul li a{
  padding: 4px 4px;
}
.nav ul li ul li a:hover{
  padding: 4px 4px;
 }
.nav a {
  color: #fdfbfb;
  text-decoration: none;
  font-size: 2rem;
  float: left;
 
}

.nav a:hover {
  background-blend-mode: soft-light;
  text-decoration: underline yellow;
}


.pushable {
  background: rgb(71, 68, 68);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 30px;
  color:rgb(126, 114, 47);
  position:static;
}

.front {
  display: block;
  padding: 12px 42px;
  border-style: solid;
  border-radius: 12px;
  border-width: 5px;
  border-color: black;
  font-size: 3rem;
  background: rgb(247, 223, 9);
  color: rgb(14, 14, 13);
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(2px);
} 

.button{
  text-align:right;
  transform: rotate(-10deg);
}

.buttonBanner{
  text-align:right;
  font-size: 40px;
  font-weight: bolder;
  color: black;
  text-indent: -9999px;
}

#textboxid{
  font-size: 100px;
}

#signupstyle{
  font-size:100px;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline rgb(247, 223, 9);
}

.column {
  float: left;
  width: 50%;
  font-size: 20px;
  text-align:center;
  position: relative;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



.gallery_container {
  padding-top: 10rem;
  width:90vw;
  height:5vh;
}

.gallery {
  display: flex;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 5vw);
  width: 100%;
  }

.gallery__img {
  width: 100%;
  height: 170%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--2 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery__item--3 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--4 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--5 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 7;
}

.gallery__item--6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 12;
}


.gallery__item--7 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 9;
}

.gallery__item--8 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 12;
}

.gallery__item--9 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 12;

}

.gallery__item{
    transition:1s;
    padding:15px;
    width:22%;
}
.gallery__item:hover
{
  transform: scale(2.1);
  display:block;
}


#circle{
  background: rgb(247, 252, 235);
  border-radius: 50%;
  width: 580px;
  height: 550px;
  margin: 6px;
  border: solid 5px black;
  box-shadow: 10px 10px  yellow;
  margin-top:1rem;
  margin-bottom:2rem;
}

#elipse{
  background: rgb(247, 252, 235);
  border-radius: 50%;
  width: 45rem;
  height: 20rem;
  margin: 6px;
  border: solid 5px black;
  box-shadow: 10px 10px  yellow;
}
#serviceright{
  width: 0;
  height: 0;
  border-top: 100px solid transparent;
  border-left: 200px solid red;
  border-bottom: 100px solid transparent;
  padding-right: 0px;
}

#servicedown{
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 200px solid red;
  padding-bottom: 3rem;
  
}

#downarrows{
  padding-left: 15rem;
}

#rightarrows{
  padding-bottom: 20rem;
  align-items: right;

}
#input{
  height: 40px;
}

#name{
  height: 3.5rem;
  width: 25rem;
}
#email{
  height: 3.55rem;
  width: 25rem;

}
#submit{
  height: 60px;
  width: 400px;
  background-color:rgb(247, 223, 9);
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  border-style:solid 3px black;
  color: black;
  box-shadow: 20px 20px 20px black;

}

.container_1 {
  transform: scale(1.1);
  transform-origin: 0 0;
  display: grid;
  min-height: 90vh;
  min-width: 90vw;
  grid-template-areas: 
  "header header"
  "left right"
  "footer footer";
  grid-template-rows: 0.5fr 3fr 0.1fr;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(rgb(236, 241, 236),rgb(58, 78, 58));
  font-family: 'Roboto', sans-serif;
  margin-right: 0.1rem;
  
}
.cell-1, header{
  
  grid-area: header;
  background-image:url(images/forest.jpg);
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  border:rgb(10, 10, 10);
  box-shadow: 0 0 20px rgb(7, 7, 7);
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 6rem;
  width: 90vw;
}
.cell-2 {
  
  grid-area: left;
  width: 100%;

}

.cell-3 {

  grid-area: right;
  width: 40vw;
   
}
.cell-4, footer {
  grid-area: footer;
  border-style:solid;
  border-width: 0 0 0 0;
  border-color: rgb(25, 26, 25);
  font-size: 1.2rem;
  font-weight: bolder;
  display: flex;
  width: 90vw;
  padding-top: 3rem;
  position: fixed;
  justify-content:center;

}
.cell {
   text-align: center;
   padding:1vw; 
}

@media only screen and (max-width: 600px){
    
.container_1 {
  display: grid;
  min-height: auto;
  min-width: auto;
  grid-template-areas: 
  "header header"
  "left right"
  "footer footer";
  grid-template-rows: 0.5fr 3fr 0.1fr;
  grid-template-columns: 1fr 1fr;
  background-image: linear-gradient(rgb(236, 241, 236),rgb(58, 78, 58));
  font-family: 'Roboto', sans-serif;
  margin-right: 0.1rem;
  
}
.cell-1{
  width: auto;
  size-adjust: auto;
  justify-content: flex-start;

}
.cell-4{
  width:auto
}

  


  }
